/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@config "../../tailwind.config.js";
@import "tailwindcss"; 


@source inline("lg:grid-cols-2 sm:grid-cols-2 sm:grid-cols-4 sm:block sm:flex text-left text-center text-right landscape:hidden landscape:block hidden order-1 order-2 sm:order-1 sm:order-2 grid-cols-1 sm:grid-cols-2 sm:gap-12 sm:inline sm:hidden sm:w-80");

@layer base {
  body {
    font-family: "Cinzel";
  }
  button {
    cursor: pointer;
  }
}

@theme {
  --color-hmc-a: oklch(0.1 0.11 178);   
  --color-hmc-b: oklch(0.87 0.22 105.85);
  --color-hmc-c: oklch(0.96 0.0 1);
  --color-hmc-bg-a: #2c2b2b;
  --color-hmc-bg-admin: oklch(0.95 0.005 178);
  --color-hmc-inputbox-a: oklch(86.9% 0.022 252.894);
  --color-hmc-bodybackground: oklch(0.94 0.005 178);
  --color-hmc-panelbackground: oklch(0.96 0.0 1);
  --color-hmc-img-bg-hero: oklch(0.91 0.005 178);
  --color-hmc-img-bg-thumb: oklch(0.93 0.005 178);
  --color-hmc-img-bg-card: oklch(0.92 0.005 178);
  --color-hmc-button-a: oklch(86.9% 0.022 252.894);
  --color-hmc-button-b: oklch(55.4% 0.046 257.417);
  --color-hmc-button-text-a: oklch(0.1 0.11 178);  
  --color-hmc-button-text-b: oklch(86.9% 0.022 252.894);
  --color-hmc-border-a: oklch(55.4% 0.046 257.417);
  --color-hmc-border-b: oklch(86.9% 0.022 252.894);
  --color-hmc-link: oklch(0.96 0.0 1);
  --color-hmc-link-active: oklch(0.87 0.22 105.85);
  --color-hmc-text-a: oklch(0.96 0.0 1);
  --color-hmc-textprimary: oklch(0.87 0.22 105.85);
  --color-hmc-textsecondary: oklch(0.96 0 1);
  --color-hmc-headercolor: oklch(0.1 0.11 178);
  --color-hmc-header-opaque: oklch(0.96 0.0 1);
  --color-hmc-overlay: oklch(0.08 0.03 178 / 0.35);

  --color-hmc-error: red;
  --font-family: "Cinzel"; 
  --breakpoint-3xl: 120rem; 
 

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
    
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
} 
.theme-hmc-inverted {
  --color-hmc-a: oklch(0.96 0 1);
  --color-hmc-b: oklch(0.87 0.22 105.85);
  --color-hmc-c: oklch(0.1 0.11 178);
 
  
  --color-hmc-bg-a: oklch(0.96 0 1);
  --color-hmc-inputbox-a: oklch(0.1 0.11 178);
  --color-hmc-bodybackground: oklch(0.99 0 0);
  --color-hmc-panelbackground: oklch(0.96 0 1);
  --color-hmc-img-bg-hero: oklch(93.069% 0.00449 181.078 / 0);
  --color-hmc-img-bg-thumb: oklch(100% 0.00011 271.152 / 0);
  --color-hmc-img-bg-card: oklch(0.92 0.005 178);
  --color-hmc-button-a: oklch(55.4% 0.046 257.417);
  --color-hmc-button-b: oklch(86.9% 0.022 252.894);
  --color-hmc-button-text-a: oklch(0.96 0 1);
  --color-hmc-button-text-b: oklch(0.1 0.11 178);
  --color-hmc-button-border-a: oklch(0.1 0.11 178);
  --color-hmc-border-a: oklch(86.9% 0.022 252.894);
  --color-hmc-border-b: oklch(55.4% 0.046 257.417);
  --color-hmc-link: oklch(0.1 0.11 178);
  --color-hmc-link-active: oklch(0.87 0.22 105.85);
  --color-hmc-text-a: oklch(0.1 0.11 178);
  --color-hmc-textprimary: oklch(0.1 0.11 178);   
  --color-hmc-textsecondary: oklch(0.96 0 1);
  --color-hmc-headercolor: oklch(86.9% 0.022 252.894);
  --color-hmc-header-opaque: oklch(84.832% 0.0001 271.152);
  --color-hmc-overlay: oklch(0.15 0.03 178 / 0.25);
}




:root {
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
 

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
